.TodaysScore {
  color: white;
  text-align: center;
  margin-top: 10%;
}

.answer {
  color: white;
}

.ScoresList {
  color:white;
  list-style: none;
  text-align: center;
  display: grid;
}

.WinButton {
text-align: center;
}
